body {
    background-image: url(images/ide2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main,
header,
section {
    text-align: center;
}

main {
    position: absolute;
}

header {
    margin-left: 200px;
    margin-right: 200px;
    position: absolute;
}

img {
    width: 10%;
    vertical-align: middle;
}

section img {
    width: 50%;
    vertical-align: middle;
}

header p {
    margin-top: -10px;
    font-variant: small-caps;
    font-family: 'Calistoga', cursive;
    font-size: 300%;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

section {
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 200px;
    position: absolute;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 100%;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: #2d2f31;
}

nav {
    width: 300px;
    background: #d9d9d9;
    margin: 40px;
}

span {
    padding: 30px;
    background: #2d2f31;
    color: white;
    font-size: 1.2em;
    font-variant: small-caps;
    cursor: pointer;
}

.slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    list-style: none;
    margin-left: -35px;
    transition: height .4s ease;
}

.slide li {
    padding: 30px;
}

#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide {
    height: 300px;
}

.zoom {
    transition: transform 1s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(3);
}