body {
    background-image: url(images/fondnote.jpg);
    background-position: center;
}

header h1 {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    size: 50%;
    text-align: center;
}

header img {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

nav {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

nav {
    background: #3fa46a;
    margin-top: 10px;
}

nav a {
    transition: 0.3s ease;
    background: #3fa46a;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #3fa46a;
    border-bottom: 4px solid #3fa46a;
    padding: 20px 0;
    margin: 0 20px;
}

nav a:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;
}

p {
    margin: 50 400 0 400px;
    text-align: center;
    color: whitesmoke;
}

a {
    margin: 50 0 0 570px;
    text-align: center;
    color: whitesmoke;
}

h2 {
    margin-top: 50px;
    text-align: center;
    font-family: 'David Libre', serif;
}

.img {
    margin-left: 395px;
}